{% extends 'base.html'%}
{% load static%}
{%block content%}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="{% static 'css/about us.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <title>About us</title>
<main>
  <div class="container mt-3">
    <div class="about">
        <div class="title">
            <h1 style="font-size: 100px ;color:whitesmoke;">About US  </h1>
        </div>
   
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="face front-face"> <img src="{% static 'images/himanshu.jpg' %}" alt="" class="profile">
                        <div class="pt-3 text-uppercase name" style="font-style: oblique;"> Himanshu Vashisht</div>
                        <div class="designation">FrontEnd Developer</div>
                    </div>
                    <div class="face back-face"> <span class="fas fa-quote-left"></span>
                        <div class="testimonial"> I am a BCA student. And i am always hungry </div> <span class="fas fa-quote-right"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="face front-face"> <img src="{% static 'images/Sourabh.jpeg' %}" alt="" class="profile">
                        <div class="pt-3 text-uppercase name"> Sourabh </div>
                        <div class="designation">Full Stack Developer</div>
                    </div>
                    <div class="face back-face"> <span class="fas fa-quote-left"></span>
                        <div class="testimonial">I am a BCA student, Who enjoys playing with computer and codes. To lazy to do anything.</div> <span class="fas fa-quote-right"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="face front-face"> <img src="{% static 'images/Suraj.jpeg' %}" alt="" class="profile">
                        <div class="pt-3 text-uppercase name"> Suraj</div>
                        <div class="designation">Full Stack Developer</div>
                    </div>
                    <div class="face back-face"> <span class="fas fa-quote-left"></span>
                        <div class="testimonial">  I am a BCA student. Having great interest in technology  </div> <span class="fas fa-quote-right"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
        <div class="desc">
        <p style="margin: 50px;">Our Other Developers are Pratham,Bhavna,Sia and Nancy </p>
    </div>    
{% endblock content %}